# Ignore Jupyter Notebook checkpoints and system files
.DS_Store
.ipynb_checkpoints/
__pycache__/
.venv/
.env/

# Ignore large size files (stored on the cloud)
*.pyc
*.pyo
*.psd
*.jpg
*.png


# Ignore local buck-up folders created for development tests
Image preprocessing/jpeg_decompress.py
Image preprocessing/scale ref
Line detection/BU
Tagging/BU